## Sqoop -  Pesquisa e Criação de Tabelas

 1.Mostrar todos os databases

In [ ]:
docker exec -it namenode bash
sqoop list-databases --connect jdbc:mysql://database --username root -password secret

information_schema
employees
hue
mysql
performance_schema
sakila
sys

2.Mostrar todas as tabelas do bd employees

In [ ]:
sqoop list-tables --connect jdbc:mysql://database/employees --username root -password secret

current_dept_emp
departments
dept_emp
dept_emp_latest_date
dept_manager
employees
employees_2
titles

3.Inserir os valores ('d010', 'BI') na tabela departments do bd employees

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "insert into departments values('d010','BI')"

4. Pesquisar todos os registros da tabela departments

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "select * from departments"

-------------------------------
| dept_no | dept_name            |
-------------------------------
| d010 | BI                   |
| d009 | Customer Service     |
| d005 | Development          |
| d002 | Finance              |
| d003 | Human Resources      |
| d001 | Marketing            |
| d004 | Production           |
| d006 | Quality Management   |
| d008 | Research             |
| d007 | Sales                |
-------------------------------

5.Criar a tabela benefits(cod int(2)  AUTO_INCREMENT PRIMARY KEY, name varchar(30)) no bd employees

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "create table benefits(cod int(2)  AUTO_INCREMENT PRIMARY KEY, name varchar(30))"

6.Inserir os valores (null,'food vale') na tabela benefits

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "insert into benefits values(null,'food vale')"

7.Pesquisar todos os registros da tabela benefits

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "select * from benefits"

-----------------------------
| cod | name                 |
-----------------------------
| 1  | food vale            |
-----------------------------

## Importação BD Employees

1. Pesquisar os 10 primeiros registros da tabela employees do banco de dados employees

In [ ]:
sqoop eval --connect jdbc:mysql://database/employees --username root -password secret --query "select * from employees limit 10"

---------------------------------------------------------------------------------
| emp_no      | birth_date | first_name     | last_name        | gender | hire_date  |
---------------------------------------------------------------------------------
| 10001       | 1953-09-02 | Georgi         | Facello          | M | 1986-06-26 |
| 10002       | 1964-06-02 | Bezalel        | Simmel           | F | 1985-11-21 |
| 10003       | 1959-12-03 | Parto          | Bamford          | M | 1986-08-28 |
| 10004       | 1954-05-01 | Chirstian      | Koblick          | M | 1986-12-01 |
| 10005       | 1955-01-21 | Kyoichi        | Maliniak         | M | 1989-09-12 |
| 10006       | 1953-04-20 | Anneke         | Preusig          | F | 1989-06-02 |
| 10007       | 1957-05-23 | Tzvetan        | Zielinski        | F | 1989-02-10 |
| 10008       | 1958-02-19 | Saniya         | Kalloufi         | M | 1994-09-15 |
| 10009       | 1952-04-19 | Sumant         | Peac             | F | 1985-02-18 |
| 10010       | 1963-06-01 | Duangkaew      | Piveteau         | F | 1989-08-24 |
---------------------------------------------------------------------------------

2.Realizar as importações referentes a tabela employees e para validar cada questão,  é necessário visualizar no HDFS*

A - Importar a tabela employees no warehouse  /user/hive/warehouse/db_test_a

In [ ]:
sqoop import --table enployees --connect jdbc:mysql://database/employees --username root -password secret --warehouse-dir /user/hive/warehouse/db_test_a

B- Importar todos os funcionários do gênero masculino, no warehouse  /user/hive/warehouse/db_test_b

In [ ]:
sqoop import --table employees --connect jdbc:mysql://database/employees --username root -password secret --where "gender='M'" --warehouse-dir /user/hive/warehouse/db_test_b

C- importar o primeiro e o último nome dos funcionários com os campos separados por tabulação, no warehouse  /user/hive/warehouse/db_test_c

In [ ]:
sqoop import --table employees --connect jdbc:mysql://database/employees --username root -password secret --columns "first_name,last_name" --fields-terminated-by '\t' --warehouse-dir /user/hive/warehouse/db_test_c

D- Importar o primeiro e o último nome dos funcionários com as linhas separadas por “ : ” e salvar no mesmo diretório da questão 2.C

In [ ]:
sqoop import --table employees --connect jdbc:mysql://database/employees --username root -password secret --columns "first_name,last_name" --lines-terminated-by ':' --warehouse-dir /user/hive/warehouse/db_test_c -delete-target-dir